@import "./buttons.css";
@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-bottom {
  background-position: bottom;
}

.bg-left {
    background-position: left !important;
}

.bg-full {
    background-position: center center;
    background-size: 110% 110%;
}

.-z-1 {
    z-index: -1;
}

.glow-orange {
    /* Orange Glow Effect right and bottom */
    box-shadow: 4px 4px 20px rgba(249, 115, 22, 0.45);
}

.pl-30p {
    padding-left: 30%;
}


/* Верхняя и нижняя плашки */
.badge {
    display: inline-block;
    padding: 14px 28px;
    border: 2px solid #f59e0b; /* orange-400 */
    border-radius: 9999px;
    font-weight: 600;
    font-size: 16px;
    background: #ffffff;
}

.badge.wide {
    display: block;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
}
