/* Import the fonts from ../fonts */
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
         url('../fonts/MyriadPro-Regular.woff') format('woff'),
            url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
         url('../fonts/MyriadPro-Bold.woff') format('woff'),
            url('../fonts/MyriadPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* These are the fonts used throughout the app */

.font-blue {
    color: #333398;
}

html, body {
    font-family: 'Myriad Pro', sans-serif;
}
